*:before, *:after, * {
  box-sizing: border-box;
  top:0;
  left: 0;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 800px;
  background-color: #bdc5ff;
  margin: auto;
}

.noRadius {
  border-radius: 0;
}