#itonicModal{
  display:none;
  position:fixed;
  z-index:100001;
  padding-top: 100px;
  left:0;
  top:0;
  font-family: sans-serif;
  font-size: 12pt;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
}

#iM_-content{
  display:none;
  position:relative;
  margin:auto;
  padding:0;
  border:1px solid #bfbfbf;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#iM_-close{
  float:right;
  font-size:28px;
  font-weight:bold;
  margin-top:-10px;
  cursor:pointer;
}

#iM_-header{
  box-sizing: border-box;
  padding:9px 10px;
  color:white;
  height:40px;
}

#iM_-header h3{
  margin:0px;
  font-family: sans-serif;
  font-size: 1.17em;
}

#iM_-body{
  padding:10px 10px;
}

#iM_-footer{
  box-sizing: border-box;
  padding:7px 16px;
  height:40px;
}

#iM_-footer button{
  border: 1px solid #b7b5b5;
  margin-left: 5px;
  font-weight:400;
  float:right;
  min-width:60px;
  height:26px;
  line-height:23px;
  vertical-align:middle;
  font-size:10pt;
  cursor:pointer;
  display:none;
}

#iM_-footer button:hover{
  border-color:#918d8d;
}

#iM_-msg{
  display:none;
  color:white;
  z-index:2147483647;
  margin:auto;
  font-family:sans-serif;
  font-size:20pt;
  text-align:center;
  position:fixed;
  top:calc(50% - 130px);
  left:0;
  right:0;
}

#iM_-loadspinner{
  display:none;
  height: 100px;
  width: 100px;
  z-index:2147483647;
  position:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  left:0;
  right:0;
  top:calc(50% - 50px);
  margin:auto;
}

@keyframes iM_Round{
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg)
  }
}